.list-container {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }


    .add-icon {
        position: fixed;
        bottom: 20px;
        right:40px;
    }

    .alert {
        width:90vw;
        position:fixed;
        opacity: 1;
        top:30px;
        margin-left:5vw;
        background-color: green;
        color:white;
        font-size:20px;
        text-align: center;
    }